<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Gin Practice</title>
</head>
<body>
    <h1>Date: {{.now}}</h1>
    {{range .todo}}
        <ul> 
            {{.Name}}
            {{if eq .Status 0}}
                やってない
            {{else}}
                やった
            {{end}}
            {{.Content}}
            {{.CreatedAt}}
        </ul>
    {{end}}
</body>
</html>